<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Modificar la novedad n° {{novedad.id}}</h4>
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
                
                    <input type="hidden" value={{novedad.id}} name="id">
                
                <div class="row mb-3">
                    <label for="">Titulo</label>
                    <input type="text" name="titulo" value={{novedad.titulo}}>
                </div>
                <div class="row mb-3">
                    <label for="">Subtitulo</label>
                    <input type="text" name="subtitulo" value={{novedad.subtitulo}}>
                </div>
                <div class="row mb-3">
                    <label for="">Cuerpo</label>
                    <textarea type="text" name="cuerpo">{{novedad.cuerpo}}</textarea>
                </div>

                <div class="row mb-3">
                    <p>
                        <label>Imagen: <input type="file" name="imagen" id="imagen"/></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete" id="img_delete" value="1">
                            Eliminar Imagen Actual?
                        </label>
                        <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                    </p>
                </div>

                <button type="submit">Modificar</button>
            </form>
            {{#if error}}
                <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>